*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 2%;
}

.fx60{
    width: 60%;
}

.fx40{
    width: 40%;
}

.clear{
    clear: both;
}

html,body{
    height: 100%;
    overflow-x: hidden;
}

/* ============= Cabeçalho do site ==============*/

header{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #000;
}

header > .container{
    display: flex;
}

header .logo img{
    margin-top: 13px;
    height: 70px;
}

/* ------- Menu desktop -------- */
header .menu-desktop{
    text-align: right;
    margin-top: 40px;
}

header .menu-desktop li{
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
    font-size: 18px;
    font-weight: bold;
}

header .menu-desktop li a{
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;
}

/* ---------- Menu Mobile --------- */
header .menu-mobile{
    display: none;
    width: 30px;
    height: 30px;
    background-image: url(../images/icon_menu.png);
    background-size: 100%;
    margin-top: 35px;
}

header .menu-mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    text-align: center;
}

header .menu-mobile li{
    list-style-type: none;
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 870px){
    
    header .menu-desktop{
        display: none;
    }
    header .menu-mobile{
        display: block;
    }

    .fx40{
        width: 95%;
    }
    
}

/* =============Section Apresentacion ================ */

section.apresentacion{
    text-align: center;
}

section.apresentacion h1{
    font-size: 16px;
}
section.apresentacion h2{
    color: #343434;
    font-size: 16px;
}

.content-apresentacion{
    display: flex;
    margin-top: 30px;
}
.w50{
    width: 50%;
}

.box-slides{
    width: 100%;
    max-width: 500px;
    text-align: center;
}


/* ************************************ */

.carrosel {
    -webkit-perspective: 250px;
    -moz-perspective: 250px;
    width: 400px;
    height: 200px;
    top: 50px;
    position: relative;
    margin: 0 auto;
}

@-webkit-keyframes efeitoCarrosel {
    from {
        -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

@-moz-keyframes efeitoCarrosel {
    from {
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

.caixa__card {
    width: 90px;
    height: 100px;
    background-color: #442222;
    position: absolute;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 125px;
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    text-align: center;
    -webkit-animation-name: efeitoCarrosel;
    -moz-animation-name: efeitoCarrosel;
    -webkit-animation-duration: 16s;
    -moz-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.caixa__card:hover {
    border: solid #4466cc 3px;
    box-shadow: 0px 0px 10px #4466cc;
}

.caixa__card.cc__1 {
    -webkit-animation-delay: -18s;
    -moz-animation-delay: -18s;
    background-image: url(../images-produtos/redeas01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa__card.cc__2 {
    -webkit-animation-delay: -16s;
    -moz-animation-delay: -16s;
    background-image: url(../images-produtos/brida-alagoana.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa__card.cc__3 {
    -webkit-animation-delay: -14s;
    -moz-animation-delay: -14s;
    background-image: url(../images-produtos/luva-vaquejada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa__card.cc__4 {
    -webkit-animation-delay: -12s;
    -moz-animation-delay: -12s;
    background-image: url(../images-produtos/caneleira-cavalo-SCpro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa__card.cc__5 {
    -webkit-animation-delay: -10s;
    -moz-animation-delay: -10s;
    background-image: url(../images-produtos/sela01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa__card.cc__6 {
    -webkit-animation-delay: -8s;
    -moz-animation-delay: -8s;
    background-image: url(../images-produtos/peitoral-esteira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa__card.cc__7 {
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
    background-image: url(../images-produtos/brida-alagoana.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa__card.cc__8 {
    background-image: url(../images-produtos/luva-vaquejada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ************************************ */


.box-texto{
    text-align: center;
    min-width: 400px;
}

.topicos{
    width: 100%;
    text-align: center;
}
.topicos-wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
}

.box-texto li{
    margin-top: 20px;
    text-align: left;
}

.box-texto h2{
    max-width: 550px;
    text-align: center;
    margin: 30px auto 0 auto;
}

@media screen and (max-width: 768px){
    .content-apresentacion > .w50{
        width: 100%;
    }

    .content-apresentacion{
        display: block;
    }

    .box-texto{
        margin-top: 50px;
    }
}


/* ============== Section Mais Vendidos ============ */

.line-titulo{
    width: 100%;
    position: relative;
    text-align: center;
}
.line-titulo > .ln1{
    width: 100%;
    border-top: 2px solid #ff0000;
    display: inline-block;
}

.line-titulo h2{
    background-color: #ffffff;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    font-size: 18px;
}

.box-produtos-mv{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box-produto-single{
    border: 10px solid #ffffff;
    border-radius: 8px;
}

.wdt{
    width: calc(100% / 5);
}

.produto-single{
    width: 100%;
    height: auto;
    background-color: rgb(210, 219, 233);
    border-radius: 8px;
}

.produto-single img{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.produto-single h3{
    text-align: center;
    color: rgb(46, 46, 46);
    margin-top: 6px;
    padding-bottom: 8px;
}


@media screen and (max-width: 900px){

    .wdt{
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 680px){

    .wdt{
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 480px){

    .wdt{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 540px){

    .mais-vendidos > .line-titulo{
        padding-bottom: 40px;
    }
}


/* ============== Section Produtos Semanais =============== */

.clear{
    clear: both;
}

.box-pedidos-and-fotos{
    display: flex;
    flex-wrap: wrap;
}

.box-of-pedidos{
    width: 50%;
}

.foto-modelo{
    width: 50%;
}

.foto-modelo-wrapper{
    width: 100%;
    padding-top: 70%;
    /* background-color: #ccc; */
    position: relative;
}

.foto-modelo-wrapper > .img{
    width: 80%;
    height: 100%;
    min-height: 250px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images-produtos/brida-alagoana.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .foto-modelo-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url(../images-produtos/brida-alagoana.jpg);
} */


.pedidos-semanais{
    text-align: center;
}

.slider-produto-single{
    width: 180px;
    max-width: 180px;
    height: 300px;
    /* background-color: #ccc; */
    padding: 0 10px;
}

.slider-produto-single h3{
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
}


.slick-prev{
    background: transparent;
    border: 0;
    float: left;
    position: absolute;
    left: 0;
    top: 110px;
    z-index: 3;
    cursor: pointer;
}
.slick-prev > div{
    background-image: url(../images/left-arrow.png);
}

.slick-next{
    background: transparent;
    border: 0;
    float: right;
    position: absolute;
    right: 0;
    top: 110px;
    cursor: pointer;
}
.slick-next > div{
    background-image: url(../images/right-arrow.png);
}

.slick-next > div,
.slick-prev > div{
    width: 30px;
    height: 30px;
    background-size: cover;
}

.pedidos-semanais .slider-produto-single .box-img{
    width: 100%;
    height: 220px;
    background-image: url(../images-produtos/peitoral-esteira.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 580px){
    
    .box-of-pedidos{
        width: 100%;
    }

    .foto-modelo{
        width: 100%;
        margin-bottom: 20px;
    }

}


/* =============== Section Contato ============= */

.box-numeros{
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 30px auto 10px auto;
}

.whatsapp img{
    width: 45px;
    height: 45px;
}

.whatsapp div, .telefone div{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
    
.telefone{
    padding-left: 40px;
}

.contato h5{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.social-media{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}


/* ========== Section Localização ========== */
section.localizacao{
    text-align: center;
    font-size: 15px;
}


/* ========== Section Sobre ========== */

section.sobre{
    text-align: center;
}

.sobre h3{
    margin-top: 30px;
    font-size: 18px;
    color: #343434;
}

.sobre p{
    margin: 0 auto;
    max-width: 900px;
    color: #616161;
    margin-top: 15px;
    text-align: justify;
}

/* ========== Botão Voltar ao topo ========== */

.btn-voltar-topo{
    text-align: right;
    padding-right: 30px;
}

.voltar-topo{
    padding: 10px;
    font-size: 15px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
}


/* =========== Footer (rodapé) ========= */

footer{
    width: 100%;
    height: 50px;
    background-color: #D9D9D9;
}

footer h3, footer h4{
    display: inline-block;
    line-height: 50px;
}

footer h3{
    font-size: 15px;
}

footer h4{
    float: right;
    font-size: 13px;
}


/* *************** Pagina Produtos ************** */

/* =========== Section content-box =========== */

.content{
    display: flex;
}

.filtro-catalogo{
    width: 30%;
    height: 100%;
    min-width: 240px;
    display: inline-block;
}

.filtro-catalogo h2{
    font-size: 16px;
    text-align: left;
    color: #616161;
}

.box-filtro{
    text-align: left;
    width: 100%;
    max-width: 250px;
    margin-left: 10%;
    padding: 20px 0 20px 0;
}

.box-filtro nav li{
    list-style-type: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #555555;
    position: relative;
    cursor: pointer;
}

.box-filtro nav li img{
    position: absolute;
    width: 25px;
    height: 25px;
}

.produtos{
    width: 70%;
    height: 100%;
    padding: 10px;
}

.dpn{
    display: none;
}

.box-content-produtos{
    width: 100%;
}

.line-content-produtos{
    width: 100%;
}

.produto-content-single{
    float: left;
    width: calc(88% / 3);
    /* background-color: rgb(100, 100, 100); */
    margin: 0 2%;
}

.produto-content-wrapper{
    padding-top: 100%;
    position: relative;
}

.produto-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #AC9100; */
    border: 3px solid #ccc;
    border-radius: 0 0 10px 10px;
}

.produto-content img{
    width: 100%;
    max-height: 80%;
}
.produto-content p{
    font-size: 14px;
    padding: 6px 3% 0 3%;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

@media screen and (max-width: 768px){
    
    .produto-content-single{
        width: calc(92% / 2);
        margin: 0 2%;
    }
}

@media screen and (max-width: 570px){
    
    .content{
        display: block;
    }

    .filtro-catalogo{
        width: 100%;
    }

    .produtos{
        width: 100%;
    }

    .filtro-catalogo h2{
        text-align: center;
    }

    .box-filtro{
        margin: 0 auto;
        padding: 0px 0 20px 0;
    }
}


















/* Arquivo padrão para o CSS */

/* >>>>>>>> MARGIN <<<<<<<<<< */


/* ---------- Margin-Top ---------- */

.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mt-45{
    margin-top: 45px;
}
.mt-50{
    margin-top: 50px;
}
.mt-55{
    margin-top: 55px;
}
.mt-60{
    margin-top: 60px;
}

/* ---------- Margin-Top END ---------- /*


/* ---------- Margin-left */

.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
.ml-25{
    margin-left: 25px;
}
.ml-30{
    margin-left: 30px;
}
.ml-35{
    margin-left: 35px;
}
.ml-40{
    margin-left: 40px;
}
.ml-45{
    margin-left: 45px;
}
.ml-50{
    margin-left: 50px;
}
.ml-55{
    margin-left: 55px;
}
.ml-60{
    margin-left: 60px;
}

/* ---------- Margin-left END --------- */


/* ---------- Margin-Right ---------- */

.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.mr-25{
    margin-right: 25px;
}
.mr-30{
    margin-right: 30px;
}
.mr-35{
    margin-right: 35px;
}
.mr-40{
    margin-right: 40px;
}
.mr-45{
    margin-right: 45px;
}
.mr-50{
    margin-right: 50px;
}
.mr-55{
    margin-right: 55px;
}
.mr-60{
    margin-right: 60px;
}

/* ---------- Margin-Right END ---------- /*


/* ---------- Margin-Bottom ---------- */

.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-60{
    margin-bottom: 60px;
}

/* ---------- Margin-Bottom END ---------- /*

/* >>>>>>>> MARGIN END <<<<<<<<<< */



/* >>>>>>>>> PADDING <<<<<<<<<<< */

/* --------- Padding-Top --------- */

.pt-5{
    padding-top: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-25{
    padding-top: 25px;
}
.pt-30{
    padding-top: 30px;
}
.pt-35{
    padding-top: 35px;
}
.pt-40{
    padding-top: 40px;
}
.pt-45{
    padding-top: 45px;
}
.pt-50{
    padding-top: 50px;
}
.pt-55{
    padding-top: 55px;
}
.pt-60{
    padding-top: 60px;
}

/* --------- Padding-Top END --------- */


/* --------- Padding-Left --------- */

.pl-5{
    padding-left: 5px;
}
.pl-10{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pl-20{
    padding-left: 20px;
}
.pl-25{
    padding-left: 25px;
}
.pl-30{
    padding-left: 30px;
}
.pl-35{
    padding-left: 35px;
}
.pl-40{
    padding-left: 40px;
}
.pl-45{
    padding-left: 45px;
}
.pl-50{
    padding-left: 50px;
}
.pl-55{
    padding-left: 55px;
}
.pl-60{
    padding-left: 60px;
}

/* --------- Padding-Left END --------- */


/* --------- Padding-Right --------- */

.pr-5{
    padding-right: 5px;
}
.pr-10{
    padding-right: 10px;
}
.pr-15{
    padding-right: 15px;
}
.pr-20{
    padding-right: 20px;
}
.pr-25{
    padding-right: 25px;
}
.pr-30{
    padding-right: 30px;
}
.pr-35{
    padding-right: 35px;
}
.pr-40{
    padding-right: 40px;
}
.pr-45{
    padding-right: 45px;
}
.pr-50{
    padding-right: 50px;
}
.pr-55{
    padding-right: 55px;
}
.pr-60{
    padding-right: 60px;
}

/* --------- Padding-Right END --------- */


/* --------- Padding-Bottom --------- */

.pb-5{
    padding-bottom: 5px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-25{
    padding-bottom: 25px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-35{
    padding-bottom: 35px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-45{
    padding-bottom: 45px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-55{
    padding-bottom: 55px;
}
.pb-60{
    padding-bottom: 60px;
}

/* --------- Padding-Bottom END --------- */

/* >>>>>>>>> PADDING END <<<<<<<<<<< */


/* >>>>>>>>> FLOAT <<<<<<<<<<< */

/* -------- Flaot Left ------- */
.fl{
    float: left;
}
/* -------- Flaot Left END------- */


/* -------- Flaot Right ------- */
.fr{
    float: right;
}
/* -------- Flaot Right END------- */

/* >>>>>>>>> FLOAT <<<<<<<<<<< */